header {
    background-color: var(--main-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 20vh;
}

header  > *{
    margin: 20px;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

header h1 {
    text-align: left;
    margin: 0;
    padding: 0 10px;
    flex: 1
}

header > div {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

#btn-download,
header select {
    background-color: white;
    color: var(--main-blue);
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

